<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="TokenLuv.WinUI"
    Publisher="CN=TokenLuvDev"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="3d23f448-b6fe-4e1d-b595-6d9b0534e1b9" PhonePublisherId="00000000-0000-0000-0000-000000000000" />

  <Properties>
    <DisplayName>TokenLUV</DisplayName>
    <PublisherDisplayName>TokenLUV Dev</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26200.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26200.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application Id="App" Executable="TokenLuv.WinUI.exe" EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
        DisplayName="TokenLUV"
        Description="Native Windows shell for AI token and credit telemetry"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.scale-200.png"
        Square44x44Logo="Assets\Square44x44Logo.scale-200.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.scale-200.png" />
        <uap:SplashScreen Image="Assets\SplashScreen.scale-200.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
